<!--Billy Foster-->

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

:root{
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9b26b0;
    --white: #ffffff;
    --black: #000000;
    --blue: #499bd2;
    --light-grey: #eaeaea;
    --dark-grey: #222222;
    font-size: 16px;
    --fonts: Montserrat, sans-serif;
    --font-head: Molle, cursive;
}

#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#skip:focus{
    position: static;
    width: auto;
    height: auto;
}
body{
    box-sizing: content-box;
    line-height: 1.35;
    font-family: var(--fonts);
    font-weight: bold;
    color: var(--dark-grey);
    margin: 0;
    padding: 0;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    background: -moz-linear-gradient(top, #55BCD5 0%, #ffffff 100%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #55BCD5 0%, #ffffff 100%, #ffffff 100%);
    background: linear-gradient(to bottom, #55BCD5 0%, #ffffff 100%, #ffffff 100%);
}
header img{
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
}
header p{
    padding: 0 1rem 1rem;
    font-size: 1.3rem;
    grid-column: 1 / span 2;
}
#logo{
    padding: 0;
}
.sr-only{
    position: absolute;
    left: -10000px;
    top:auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
nav{
    padding-top: 1rem;
    grid-column: 2 /span 1;
    grid-row: 1 / 1;
}
ul{
    position: absoluste;
    width: 100%;
    list-style-type: none;
    right: -100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3 ease;
    transition: left 0.3 ease;
}
#menu-toggle input:checked ~ ul{
    right: 0;
}
#menu-toggle input:checked + label{
    background-color: var(--dark-grey);
    color: var(--white);
}
#menu-toggle input{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left:-5px;
    padding: 0;
    opacity: 0;
    z-index: 2;
}
#menu-toggle label{
    position: relative;
    display: block;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
    background-color: var(--yellow);
}
nav a{
    padding: 1rem 0;
    background-color: var(--teal);
    color: var(--dark-grey);
    font-size: 1.2rem;
}
nav li{
    list-style: none;
    border: 1px solid var(--dark-grey);
}
a{
    text-align: center;
    display: block;
    text-decoration: none;
}
h1, h2, h3{
    font-family: var(--font-head);
}
h1{
    font-size: 2.5rem;
    padding: 0 1rem;
    grid-column: 1 / span 2;
}
h2, h3{
    font-size: 2rem;
    margin: 0 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}



}