<!--Billy Foster-->

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

:root{
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9b26b0;
    --white: #ffffff;
    --black: #000000;
    --blue: #499bd2;
    --light-grey: #eaeaea;
    --dark-grey: #222222;
    font-size: 16px;
    --fonts: Montserrat, sans-serif;
    --font-head: Molle, cursive;
}

#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#skip:focus{
    position: static;
    width: auto;
    height: auto;
}
body{
    box-sizing: content-box;
    line-height: 1.35;
    font-family: var(--fonts);
    font-weight: bold;
    color: var(--dark-grey);
    margin: 0;
    padding: 0;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    background: -moz-linear-gradient(top, #55BCD5 0%, #ffffff 100%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #55BCD5 0%, #ffffff 100%, #ffffff 100%);
    background: linear-gradient(to bottom, #55BCD5 0%, #ffffff 100%, #ffffff 100%);
}
header img{
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
}
header p{
    padding: 0 1rem 1rem;
    font-size: 1.3rem;
    grid-column: 1 / span 2;
}
#logo{
    padding: 0;
}
.sr-only{
    position: absolute;
    left: -10000px;
    top:auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
nav{
    padding-top: 1rem;
    grid-column: 2 /span 1;
    grid-row: 1 / 1;
}
ul{
    position: absoluste;
    width: 100%;
    list-style-type: none;
    right: -100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3 ease;
    transition: left 0.3 ease;
}
#menu-toggle input:checked ~ ul{
    right: 0;
}
#menu-toggle input:checked + label{
    background-color: var(--dark-grey);
    color: var(--white);
}
#menu-toggle input{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left:-5px;
    padding: 0;
    opacity: 0;
    z-index: 2;
}
#menu-toggle label{
    position: relative;
    display: block;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
    background-color: var(--yellow);
}
nav a{
    padding: 1rem 0;
    background-color: var(--teal);
    color: var(--dark-grey);
    font-size: 1.2rem;
}
nav li{
    list-style: none;
    border: 1px solid var(--dark-grey);
}
a{
    text-align: center;
    display: block;
    text-decoration: none;
}
h1, h2, h3{
    font-family: var(--font-head);
}
h1{
    font-size: 2.5rem;
    padding: 0 1rem;
    grid-column: 1 / span 2;
}
h2, h3{
    font-size: 2rem;
    margin: 0 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
article > section, footer{
    margin-top: 1.5rem;
    padding:  5% 10%;
}
h4{
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-decoration: uppercase;
}
q{
    text-align: center;
    font-style: italic;
}
#intro p{
    margin: 0 1rem 1rem;
}
#img-grid{
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
    padding: 0;
}
#img-grid img{
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}
#plan{
    background-color: var(--yellow);
}
#plan div{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem
}
#plan section{
    border: 3px solid var(--white);
    border-radius: 8px;
    background-color: var(--teal);
    max-width: 350px;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#testimonials div{
    display: grid;
    gap: 0.5rem;
}
#testimonials section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about section{
    max-width: 350px;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#about div{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
#about img{
    display: block;
    width: 75%;
    height: 50%;
    max-width: 150px;
    margin: 0 auto;
}
#about p{
    font-size: 1.3rem;
    text-align: center;
}
.form-required{
    font-family: var(--fonts);
    font-style: italic;
    font-size: 1rem;
}
.required{
    color: var(--purple);
}
#contact label, #contact legend{
    display: inline-block;
    padding: 3px;
    text-transform: uppercase;
}
#contact input{
    display: inline-block;
    width: 100%;
    border: 2px solid var(--purple);
    padding: 1rem 0.5rem;
    font-family: inherit;
    font-weight: bold;
}
#contact fieldset label{
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1rem;
    text-transform: none;
}
.radio-input{
    appearance: none;
    background-color: var(--white);
    margin: 0;
    color: var(--purple);
    border-radius: 0.15rem solid var(--purple);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;   
}
.radio-input::before{
    content: "";
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    transform: scale(0);
    transition: 125ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--purple);
}
.radio-label{
    margin: 0;
    margin-left: 2rem;
}
form{
    display: grid;

}
select{
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    grid-area: select;
}
.custom-select{
    width: 100%;
    border: 1px solid var(--purple);
    padding: 0.25em 0.5em;
    margin: 0;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}
.custom-select::after{
    content:"";
    width: 1em;
    height: 1em;
    background-color: var(--purple);
    clip-path: polygon(50% 81%, 100% 50%, 50% 100%, 0% 50%);
    grid-area:select;
    justify-content: end;


}
select:focus + .focus{
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 2px solid var(--teal);
    border-radius: inherit;

}
#mySubmit{
    background-color: var(--purple);
    color: var(--white);
    text-transform: uppercase;
    margin: 1rem;
    cursor: ;
}
footer{
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer p{
    text-align: center;
}
footer a{
    cursor: pointer;
}

}